body{
	font-family: 'Dosis', sans-serif;
	background-color: rgb(240,240,240);
}

#landpage{
	padding: 4%;
	padding-top: 0;
	padding-bottom: 0;
	overflow-x : hidden;
}
div{
	float: left;
}
.heading,.body,.footer{
	width: 99.25%;
	text-align: center;
	padding: 0.25%;
	margin: 0.125%;
}
.heading{
	font-family: 'Old Standard TT', serif;
	margin-top: 0;
	margin-bottom: 0;
}
.heading h1,.heading p{
	
	margin-top: 0;
	margin-bottom: 0;
	word-spacing: 1rem;
	letter-spacing: .2rem;
}
.heading p{
	text-transform: uppercase;
}
.portfolio,.personal{
	width: 35%;
	height: inherit;
	padding-top: 15%;
	padding-bottom: 15%;
	font-size: 1.3em;
}
button{
	font-family: 'Dosis', sans-serif;
	border: none;
	background: none;
	font-size: 1.3em;
}
.portfolio{
	text-align: right;
}
.personal{
	text-align: left;
}
.grid{
	width: 85%;
}
.cell{
	width: 40%;
	margin: 4%;
	padding: 1%;
	background-color: rgb(220,220,220);
	border-radius: 10px;
}
.cell h3{
	cursor: pointer;
}
@media only screen and (max-width: 535px) {
    .cell{
	width: 90%;
	}
	.grid{
		width: 100%;
	}
	#portfolio .my-picture, #personal .my-picture{
		margin-right: 42%;
		margin-left: 42%;
	}
}
.my-picture{
	width: 30%;
	position : relative;
}
#portfolio .my-picture, #personal .my-picture{
	width: 15%;
}
#portfolio div{
	float: right;
}
.my-picture img{
	position : absolute;
	left: 0;
	width: 100%;
}
#colour{
	opacity:0.6;
}
#shade{
	opacity:0.5;
}
#done{
	position: static;
	opacity:0;
}
#take-space{
	width: 100%;
	height: 100%;
	min-width: 400px;
	min-height: 500px;
	opacity: 0;
}
.footer{
	word-spacing: 1rem;
	letter-spacing: .2rem;
	font-size: 1.5em;
}
a{
	color: #101010;
	text-decoration: none;
}
a:hover{
	color: #111111;
	text-decoration: none;
}
#changelog a{
	color: #7C563D;
}