

body{
	font-family: 'Exo 2', sans-serif;
}

div{
	float: left;
	margin: 5%;
	margin-top: 5%;
	width: 40%;
}
@media only screen and (max-width: 640px) {
	div{
	width: 80%;
	}
}
@media only screen and (max-width: 400px) {
	body{
	font-size: 0.8em;
	}
	
	button{
	font-size: 0.7em;
	
}
	
}

.body{
	margin: 0;
	width: 100%;
	min-height: 240px;
	background: linear-gradient(90deg , rgba(240,240,240,0.9) , rgba(0,0,0,0));
	border-radius: 0 12px 12px 12px;
	border: 1px solid grey;
}


table{
	width: 100%;
	text-align: center;
	margin-bottom: 45px;
}

.column{
	width: 25%;
	margin: 0;
	text-align: center;
}




.fcolumn{
	width: 50%;
	margin: 0;
	text-align: center;
}

#takeSpace{
	min-height: 60px;
}

h1{
	border: 1px solid grey;
	border-bottom: none;
	border-radius: 12px 12px 0px 0px;
	padding: 10px;
	padding-left: 15px;
	margin-bottom: 0;
	background: linear-gradient(90deg , rgba(220,220,220,0.9) , rgba(0,0,0,0));
	max-width: 180px;
}

h2{
	padding-left: 15px;
}


button{
	font-family: 'Exo 2', sans-serif;
	width: 80%;
	min-height: 40px;
	margin: 0 auto;
	background-color: rgba(200,200,200,0.5);
	border-radius: 12px;
	border: 1px solid grey;
	margin: 10px;
	transition: background 0.5s;
	
}

button:hover{
	background-color: rgba(100,100,100,0.9);
}

.active{
	background-color: rgb(100,100,100);
	color : white;
}

#end{
	/*min-width: 210px;*/
	width: 90%;
}